@model IEnumerable<AppData.ViewModels.SanPham.AnhRequest>

@{
    ViewData["Title"] = "AddAnhToPhanLoai";
}

<h1>Thêm ảnh vào Phân Loại</h1>

<form enctype="multipart/form-data" asp-action="AddAnhToPhanLoai">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Chọn ảnh
                </th>
                <th>
@*                     @Html.DisplayNameFor(model => model.TenPhanLoai)
 *@                </th>
                <th>
@*                     @Html.DisplayNameFor(model => model.MaPhanLoai)
 *@                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="file" name="images" />
                    </td>
                    <td>
@*                         @Html.DisplayFor(modelItem => item.TenPhanLoai)
 *@                    </td>
                    <td>
@*                         @Html.DisplayFor(modelItem => item.MaPhanLoai)
 *@                    </td>
                    <td>
@*                         <input type="text" name="idPhanLoais" value="@item.IDPhanLoai"/>
 *@                    </td>
@*                     <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td> *@
                </tr>
            }
        </tbody>
    </table>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>

